<% include ./partials/header %>

<h1>Register Now</h1>

<form action="/register" method="POST">
    <li>
        <input type="text" name="username" placeholder="username">
    </li>
    <li>
        <input type="password" name="password" placeholder="password">
    </li>
    <button>Register</button>
</form>

<% include ./partials/footer %>